body {
    font-family: Arial, sans-serif;
    background: #a01212;
    text-align: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #ff914d;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
